
<html lang="en">
<head>
  <nav>
  <div class="nav-wrapper container">
    <a href="#" class="brand-logo">Logo</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a ng-click="#!">Login</a></li>
      <li><a ng-click="register.html">Sign Up</a></li>
    </ul>
  </div>
</nav>
</head>

<body>
  <div class="row">
          <div class="col s12 m12" align="center">
            <div class="card">
              <div class="card-image">
                <img src="http://lorempixel.com/200/200">
                <span class="card-title">Student faculty interaction Portal</span>
              </div>
              <div class="card-content">
                <p>This portal is developed with the aim to facilitate interaction between students and professors
                across DA-IICT freely. They can interact on Topics related to any Project or Internship. </p>
              </div>
            </div>
          </div>
  </div>
</body>

<footer class="page-footer">
  <div class="nav-wrapper container">
    <a class="white-text" align="center">
      Student Faculty Interaction Portal is created by Team 13 of SEN group
    </a>
  </div>
</footer>
</html>
