<nav>
  <div class="nav-wrapper container">
    <a href="#" class="brand-logo">SFIP</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a ng-click="logout()">Logout</a></li>
    </ul>
    <ul id="slide-out" class="side-nav fixed">
      <div class="sidenav-profile center-align">
        <img class="circle responsive-img" src="http://lorempixel.com/200/200">
        <!-- <h6 class="black-text">Ankit Muchhala</h6> -->
      </div>
      <li><a href="#!">Profile</a></li>
      <li><a href="#!">People</a></li>
      <li><a href="#!">Chat Rooms</a></li>
      <li><a href="#!">Jobs</a></li>
    </ul>
    <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
  </div>
</nav>
<br>


<div class="row container">
  <h5 class="light">Apply for a Job</h5>
  <form class="col s12">
    <div class="row">
      <div class="input-field col s6">
        <input ng-model="jobName" disabled id="jobName" type="text">
        <label for="jobName">Job Name</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <textarea id="letter" ng-model="letter" class="materialize-textarea"></textarea>
        <label for="letter">Covering Letter / SOP</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input id="email" type="email" ng-model="contactEmail">
        <label for="email">Contact Email</label>
      </div>
    </div>
    <div class="file-field input-field">
      <div class="btn">
        <span>File</span>
        <input ng-model="attachment" type="file">
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text">
      </div>
    </div>
  </form>
  <br>
  <div class="right-align">
    <div class="btn" ng-click="resetValues()">Reset</div>
    <div class="btn" ng-click="createJob()">Apply</div>
  </div>
</div>
