<nav>
  <div class="nav-wrapper container">
    <a href="#" class="brand-logo">SFIP</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a ng-click="chatRooms.logout()">Logout</a></li>
    </ul>
    <ul id="slide-out" class="side-nav fixed">
      <div class="sidenav-profile center-align">
        <img class="circle responsive-img" src="http://lorempixel.com/200/200">
        <!-- <h6 class="black-text">Ankit Muchhala</h6> -->
      </div>
      <li><a ng-click="goTo('profile')">Profile</a></li>
      <li><a ng-click="goTo('people')">People</a></li>
      <li><a ng-click="goTo('chatRooms')">Chat Rooms</a></li>
      <li><a ng-click="goTo('jobs')">Jobs</a></li>
    </ul>
    <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
  </div>
</nav>

<div class="container">
  <br>
  <h5 class="light">All Chat Rooms</h5>
  <ul class="collapsible" data-collapsible="accordion">
    <li ng-repeat="(key, chat) in chatRooms">
      <div class="collapsible-header">{{chat.chatRoomName}}</div>

      <div class="collapsible-body">
        <p>{{chat.description}}</p>
        <div class="right-align">
          <a class="modal-trigger" ng-click="chatRooms.openChatRoom(key)">Join</a>
        </div>
      </div>
    </li>
  </ul>



  <div id="popUpRoom" class="modal">
    <div class="modal-content">
      <h4>Confirm Application</h4>
      <p>Are you sure you want to submit this application. This is an irreversible action.</p>
    </div>
    <div class="modal-footer">
      <a ng-click="chatRooms.submitApplication()" class="modal-action modal-close waves-effect waves-green btn-flat">Submit</a>
      <a href="" class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
    </div>
  </div>



</div>
