<nav>
  <div class="nav-wrapper container">
    <a href="#" class="brand-logo">SFIP</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a ng-click="logout()">Logout</a></li>
    </ul>
    <ul id="slide-out" class="side-nav fixed">
      <div class="sidenav-profile center-align">
        <img class="circle responsive-img" src="http://lorempixel.com/200/200">
        <!-- <h6 class="black-text">Ankit Muchhala</h6> -->
      </div>
      <li><a ng-click="goTo('profile')">Profile</a></li>
      <li><a ng-click="goTo('people')">People</a></li>
      <li><a ng-click="goTo('chatRooms')">Chat Rooms</a></li>
      <li><a ng-click="goTo('jobs')">Jobs</a></li>
    </ul>
    <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
  </div>
</nav>

<style>

.inner {
    position: absolute; /*or fixed*/
    right: 10px;
     
}


</style>


<div class="preloader-wrapper active container center-div" ng-show="loading">
  <div class="spinner-layer spinner-red-only">
    <div class="circle-clipper left">
      <div class="circle"></div>
    </div>
    <div class="gap-patch">
      <div class="circle"></div>
    </div>
    <div class="circle-clipper right">
      <div class="circle"></div>
    </div>
  </div>
</div>

<div id="activeMembers "class="container" ng-hide="loading" ng-keypress="myFunct($event)">
  


  <div class="inner">
  <p class="center-align"> <b>Active members</b></p>
  <ul class="collection grey lighten-4" >
    <li ng-repeat="member in members" class="collection-item" id="abcde">
      {{member.emailId}} 
      <a ng-click="viewMemberProfile(member.emailId)" class="secondary-content pointer">View</a>
    
    </li>
  </ul>
  </div>
  

   
  <ul class="collection">
    <li ng-repeat="message in chatHistory"  >

     <div ng-class="message.alignment">
           <font size="3" >{{message.sender+" "+message.text}}</font>
       
     </div>
    </li>
  </ul>




  <div class="row margin">
    <div class="input-field col s12">
      <input ng-model="messageInput" id="messageInput" type="text">
      <label class="center-align">message</label>
    </div>
  </div>


  <div class="btn" ng-click="sentMessage()">Send</div>
   <div class="btn" ng-click="leaveThisRoom()">Leave room</div>


 


</div>
