<nav>
  <div class="nav-wrapper container">
    <a ng-click="goTo('home')" class="pointer brand-logo">SFIP</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a ng-click="logout()">Logout</a></li>
    </ul>
    <ul id="slide-out" class="side-nav fixed">
      <div class="sidenav-profile center-align">
        <img class="circle responsive-img" src="http://lorempixel.com/200/200">
        <!-- <h6 class="black-text">Ankit Muchhala</h6> -->
      </div>
      <li><a ng-click="goTo('profile')">Profile</a></li>
      <li><a ng-click="goTo('people')">People</a></li>
      <li><a ng-click="goTo('chatRooms')">Chat Rooms</a></li>
      <li><a ng-click="goTo('jobs')">Jobs</a></li>
      <li><a class="hide-on-large-only" ng-click="logout()">Logout</a></li>
    </ul>
    <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
  </div>
</nav>

<div class="preloader-wrapper active container center-div" ng-show="loading">
  <div class="spinner-layer spinner-red-only">
    <div class="circle-clipper left">
      <div class="circle"></div>
    </div>
    <div class="gap-patch">
      <div class="circle"></div>
    </div>
    <div class="circle-clipper right">
      <div class="circle"></div>
    </div>
  </div>
</div>

<div class="container" ng-hide="loading" ng-keypress="myFunct($event)">
  <br>
  <div style="position: absolute; right:40px" class="hide-on-med-and-down">
    <p class="center-align"> <b>Active members</b></p>
    <ul class="collection grey lighten-4">
      <a ng-repeat="(key, member) in members" class="collection-item pointer" ng-click="viewMemberProfile(member.emailId)">
        {{member.emailId}}
        <div ng-if="member.showKick" ng-click="kickMember(key); $event.stopPropagation();" class="secondary-content pointer red-text">&nbsp;&nbsp;&nbsp;Kick</div>
      </a>
    </ul>
  </div>
  <div class="row" style="margin: 8px 0 0 0 ">
    <h5 class="light col s6" style="margin-bottom: 0">Chat</h5>
    <div class="input-field col s6" style="margin: 0">
      <input ng-model="search" id="search" type="text">
      <label for="search">Search </label>
    </div>
  </div>
  <div class="chat-box">
    <div ng-repeat="message in chatHistory | searchChat:search">
      <div ng-class="message.alignment">
        <small class="chat-bubble grey lighten-3"><span class="grey-text">{{message.sender}}</span>&nbsp;{{message.text}}</small>
      </div>
    </div>
  </div>
  <div class="row margin">
    <div class="input-field col s12">
      <input ng-model="messageInput" id="messageInput" type="text" style="margin-bottom: 4px">
      <label class="center-align">message</label>
    </div>
  </div>
  <div class="btn" ng-click="sentMessage()">Send</div>
  <div class="btn" ng-click="leaveThisRoom()">Leave room</div>
</div>
