<nav>
  <div class="nav-wrapper container">
    <a ng-click="goTo('home')" class="pointer brand-logo">SFIP</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a ng-click="logout()">Logout</a></li>
    </ul>
    <ul id="slide-out" class="side-nav fixed">
      <div class="sidenav-profile center-align">
        <img class="circle responsive-img" src="http://lorempixel.com/200/200">
        <!-- <h6 class="black-text">Ankit Muchhala</h6> -->
      </div>
      <li><a ng-click="goTo('profile')">Profile</a></li>
      <li><a ng-click="goTo('people')">People</a></li>
      <li><a ng-click="goTo('chatRooms')">Chat Rooms</a></li>
      <li><a ng-click="goTo('jobs')">Jobs</a></li>
      <li><a class="hide-on-large-only" ng-click="logout()">Logout</a></li>
    </ul>
    <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
  </div>
</nav>
<br>

<div class="preloader-wrapper active container center-div" ng-show="loading">
  <div class="spinner-layer spinner-red-only">
    <div class="circle-clipper left">
      <div class="circle"></div>
    </div>
    <div class="gap-patch">
      <div class="circle"></div>
    </div>
    <div class="circle-clipper right">
      <div class="circle"></div>
    </div>
  </div>
</div>

<div class="row container" ng-hide="loading">
  <h5 class="light">Active Chat Rooms</h5>
  <ul class="collapsible" data-collapsible="accordion">
    <li ng-repeat="(chatRoomId, chat) in chatRooms">
      <div class="collapsible-header">
        {{chat.chatRoomName}}
        <div class="secondary-content red-text pointer" ng-click="createChat.deleteChatRoom(chatRoomId); $event.stopPropagation()">Delete</div>
      </div>
      <div class="collapsible-body">
        <p>{{chat.description}}</p>
        <div class="right-align" style="padding:0 16px 16px 16px">
          <a class="btn" ng-click="createChat.openChatRoom(key, chat)">Open Room</a>
        </div>
      </div>
    </li>
  </ul>
  <a class="btn right" ng-click="createChat.showAllChatRooms()">all Chat Rooms</a>
  <br>
  <h5 class="light">Chat Room Settings</h5>
  <form class="col s12" style="padding: 0" id="createChatForm">
    <div class="row">
      <div class="input-field col s6">
        <input ng-model="chatName" id="chatName" type="text">
        <label for="chatName">Name of Chat Room</label>
      </div>
      <div class="input-field col s6">
        <input ng-model="slots" id="slots" type="number">
        <label for="slots">Number of Slots</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <textarea id="chatDescription" ng-model="chatDescription" class="materialize-textarea"></textarea>
        <label for="chatDescription">Description</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input id="start" ng-model="startTime" name="date" type="text" onfocus="(this.type='time')" onfocusout="(this.type='text')">
        <label for="start">Start Time</label>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <input name="days" ng-model="day" type="radio" id="Monday" class="with-gap" value="Monday"/>
        <label for="Monday">Monday</label><br>
        <input name="days" ng-model="day" type="radio" id="Tuesday" class="with-gap" value="Tuesday"/>
        <label for="Tuesday">Tuesday</label><br>
        <input name="days" ng-model="day" type="radio" id="Wednesday" class="with-gap" value="Wednesday"/>
        <label for="Wednesday">Wednesday</label><br>
        <input name="days" ng-model="day" type="radio" id="Thursday" class="with-gap" value="Thursday"/>
        <label for="Thursday">Thursday</label><br>
        <input name="days" ng-model="day" type="radio" id="Friday" class="with-gap" value="Friday"/>
        <label for="Friday">Friday</label><br>
        <input name="days" ng-model="day" type="radio" id="Saturday" class="with-gap" value="Saturday"/>
        <label for="Saturday">Saturday</label><br>
        <input name="days" ng-model="day" type="radio" id="Sunday" class="with-gap" value="Sunday"/>
        <label for="Sunday">Sunday</label>
      </div>
    </div>
  </form>
  <div class="right-align">
    <div class="btn" ng-click="createChat.resetValues()">Reset</div>
    <div class="btn" ng-click="createChat.createChatRoom()">Create</div>
  </div>
</div>
