<nav>
  <div class="nav-wrapper container">
    <a href="#" class="brand-logo">SFIP</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a ng-click="logout()">Logout</a></li>
    </ul>
    <ul id="slide-out" class="side-nav fixed">
      <div class="sidenav-profile center-align">
        <img class="circle responsive-img" src="http://lorempixel.com/200/200">
        <!-- <h6 class="black-text">Ankit Muchhala</h6> -->
      </div>
      <li><a href="#!">Profile</a></li>
      <li><a href="#!">People</a></li>
      <li><a href="#!">Chat Rooms</a></li>
      <li><a href="#!">Jobs</a></li>
    </ul>
    <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
  </div>
</nav>
<br>

<div class="row container">
  <h5 class="light">Chat Room Settings</h5>
  <form class="col s12" style="padding: 0">
    <div class="row">
      <div class="input-field col s6">
        <input ng-model="chatName" id="chatName" type="text">
        <label for="chatName">Name of Chat Room</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <textarea id="description" ng-model="chatDescription" class="materialize-textarea"></textarea>
        <label for="description">Description</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input id="start" ng-model="startTime" name="date" type="text" onfocus="(this.type='time')" onfocusout="(this.type='text')">
        <label for="start">Start Time</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <select name="singleSelect" ng-model="day">
          <option value="Monday" selected>Monday</option>
          <option value="Tuesday">Tuesday</option>
          <option value="Wednesday">Wednesday</option>
          <option value="Thursday">Thursday</option>
          <option value="Friday">Friday</option>
          <option value="Saturday">Saturday</option>
          <option value="Sunday">Sunday</option>
        </select>
        <label>Day</label>
      </div>
    </div>
  </form>
  <div class="right-align">
    <div class="btn" ng-click="makeChat()">Create</div>


  </div>
</div>
