<nav>
  <div class="nav-wrapper container">
    <a href="#" class="brand-logo">SFIP</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a ng-click="logout()">Logout</a></li>
    </ul>
    <ul id="slide-out" class="side-nav fixed">
      <div class="sidenav-profile center-align">
        <img class="circle responsive-img" src="http://lorempixel.com/200/200">
        <!-- <h6 class="black-text">Ankit Muchhala</h6> -->
      </div>
      <li><a ng-click="goTo('profile')">Profile</a></li>
      <li><a ng-click="goTo('people')">People</a></li>
      <li><a ng-click="goTo('chatRooms')">Chat Rooms</a></li>
      <li><a ng-click="goTo('jobs')">Jobs</a></li>
    </ul>
    <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
  </div>
</nav>
<br>

<div class="row container">
  <h5 class="light">Chat Room Settings</h5>
  <form class="col s12" style="padding: 0">
    <div class="row">
      <div class="input-field col s6">
        <input ng-model="chatName" id="chatName" type="text">
        <label for="chatName">Name of Chat Room</label>
      </div>
      <div class="input-field col s6">
        <input ng-model="slots" id="slots" type="number">
        <label for="slots">Number of Slots</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <textarea id="chatDescription" ng-model="chatDescription" class="materialize-textarea"></textarea>
        <label for="chatDescription">Description</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input id="start" ng-model="startTime" name="date" type="text" onfocus="(this.type='time')" onfocusout="(this.type='text')">
        <label for="start">Start Time</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <select>
          <option value="1" selected>Monday</option>
          <option value="2">Tuesday</option>
          <option value="3">Wednesday</option>
          <option value="4">Thursday</option>
          <option value="5">Friday</option>
          <option value="6">Saturday</option>
          <option value="7">Sunday</option>
        </select>
        <label>Day</label>
      </div>
    </div>
  </form>
  <div class="right-align">
    <div class="btn" ng-click="resetValues()">Reset</div>
    <div class="btn" ng-click="createChat.createChatRoom()">Create</div>
  </div>
</div>
