<nav>
  <div class="nav-wrapper container">
    <a href="#" class="brand-logo">SFIP</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a ng-click="logout()">Logout</a></li>
    </ul>
    <ul id="slide-out" class="side-nav fixed">
      <div class="sidenav-profile center-align">
        <img class="circle responsive-img" src="http://lorempixel.com/200/200">
        <!-- <h6 class="black-text">Ankit Muchhala</h6> -->
      </div>
      <li><a ng-click="goTo('profile')">Profile</a></li>
      <li><a ng-click="goTo('people')">People</a></li>
      <li><a ng-click="goTo('chatRooms')">Chat Rooms</a></li>
      <li><a ng-click="goTo('jobs')">Jobs</a></li>
    </ul>
    <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
  </div>
</nav>
<br>


<div class="preloader-wrapper active container center-div" ng-show="loading">
  <div class="spinner-layer spinner-red-only">
    <div class="circle-clipper left">
      <div class="circle"></div>
    </div>
    <div class="gap-patch">
      <div class="circle"></div>
    </div>
    <div class="circle-clipper right">
      <div class="circle"></div>
    </div>
  </div>
</div>

<div class="row container" ng-hide="loading">

<h5 class="light">Active Jobs</h5>
  <ul class="collection">
    <a ng-repeat="(jobId,job) in createdJobs" class="collection-item pointer" ng-click="faculty.viewJob(jobId)">
      {{job.jobName}}
      <!-- Add confirmation dialog -->
      <div class="secondary-content red-text pointer" ng-click="faculty.deleteJob(jobId); $event.stopPropagation()">Delete</div>
    </a>
  </ul>
  <a class="btn right" ng-click="faculty.showAll()">Show all Jobs</a>


  <br>
  <h5 class="light">Active Chat Rooms</h5>
  <ul class="collapsible" data-collapsible="accordion">
    <li ng-repeat="(chatRoomId, chat) in chatRooms">
      <div class="collapsible-header">
        {{chat.chatRoomName}}
        <div class="secondary-content red-text pointer" ng-click="faculty.deleteChatRoom(chatRoomId); $event.stopPropagation()">Delete</div>
      </div>
      <div class="collapsible-body">
        <p>{{chat.description}}</p>
        <div class="right-align" style="padding:0 16px 16px 16px">
          <a class="btn" ng-click="faculty.openChatRoom(key)">Open Room</a>
        </div>
      </div>
    </li>
  </ul>
  <a class="btn right" ng-click="faculty.showAllChatRooms()">Show all Chat Rooms</a>

</div>
