<nav>
  <div class="nav-wrapper container">
    <a href="#" class="brand-logo">SFIP</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a ng-click="logout()">Logout</a></li>
    </ul>
    <ul id="slide-out" class="side-nav fixed">
      <div class="sidenav-profile center-align">
        <img class="circle responsive-img" src="http://lorempixel.com/200/200">
        <!-- <h6 class="black-text">Ankit Muchhala</h6> -->
      </div>
      <li><a href="#!">Profile</a></li>
      <li><a href="#!">People</a></li>
      <li><a href="#!">Chat Rooms</a></li>
      <li><a href="#!">Jobs</a></li>
    </ul>
    <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
  </div>
</nav>
<br>

<div class="container">
</div>
