<div class="preloader-wrapper active container center-div" ng-show="loading">
  <div class="spinner-layer spinner-red-only">
    <div class="circle-clipper left">
      <div class="circle"></div>
    </div>
    <div class="gap-patch">
      <div class="circle"></div>
    </div>
    <div class="circle-clipper right">
      <div class="circle"></div>
    </div>
  </div>
</div>

<div class="container" ng-hide="loading">
  <div class="card-panel" style="max-width: 400px; height:350px;  position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;">
    <form>
      <div class="row margin">
        <div class="input-field col s12">
          <input ng-model="email" id="email" type="email" class="validate">
          <label class="center-align" data-error="Invalid">Email</label>
        </div>
      </div>
      <div class="row margin">
        <div class="input-field col s12">
          <input id="password" ng-model="password" type="password">
          <label for="password">Password</label>
        </div>
      </div>
      <!-- <div class="row">
        <div class="input-field col s12 m12 l12  login-text">
          <input type="checkbox" id="remember-me" />
          <label for="remember-me">Remember me</label>
        </div>
      </div> -->
      <div class="row">
        <div class="input-field col s12" ng-click="main.login()">
          <a class="btn waves-effect waves-light col s12 red">Login</a>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6 m6 l6">
          <p class="margin medium-small pointer"><a ng-click="goToRegister()">Register</a></p>
        </div>
        <div class="input-field col s6 m6 l6">
          <p class="margin right-align medium-small pointer"><a class="pointer" ng-click="main.goToReset()">Forgot password?</a></p>
        </div>
      </div>

    </form>
  </div>
</div>
