<nav>
  <div class="nav-wrapper container">
    <a ng-click="goTo('home')" class="pointer brand-logo">SFIP</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a ng-click="logout()">Logout</a></li>
    </ul>
    <ul id="slide-out" class="side-nav fixed">
      <div class="sidenav-profile center-align">
        <img class="circle responsive-img" src="http://lorempixel.com/200/200">
        <!-- <h6 class="black-text">Ankit Muchhala</h6> -->
      </div>
      <li><a ng-click="goTo('profile')">Profile</a></li>
      <li><a ng-click="goTo('people')">People</a></li>
      <li><a ng-click="goTo('chatRooms')">Chat Rooms</a></li>
      <li><a ng-click="goTo('jobs')">Jobs</a></li>
      <li><a class="hide-on-large-only" ng-click="logout()">Logout</a></li>
    </ul>
    <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
  </div>
</nav>
<br>

<div class="preloader-wrapper active container center-div" ng-show="loading">
  <div class="spinner-layer spinner-red-only">
    <div class="circle-clipper left">
      <div class="circle"></div>
    </div>
    <div class="gap-patch">
      <div class="circle"></div>
    </div>
    <div class="circle-clipper right">
      <div class="circle"></div>
    </div>
  </div>
</div>

<div class="row container" ng-hide="loading">
  <h5 class="light">Active Jobs</h5>
  <ul class="collection">
    <a ng-repeat="(jobId,job) in createdJobs" class="collection-item pointer black-text" ng-click="posting.viewJob(jobId)">
      {{job.jobName}}
      <!-- Add confirmation dialog -->
      <div class="secondary-content red-text pointer" ng-click="posting.deleteJob(jobId); $event.stopPropagation()">Delete</div>
    </a>
  </ul>
  <a class="btn right" ng-click="posting.showAll()">Show all Jobs</a>

  <br>
  <h5 class="light">Create a Job Posting</h5>
  <form class="col s12" id="postingForm">
    <div class="row">
      <div class="input-field col s6">
        <input ng-model="jobName" id="jobName" type="text">
        <label for="jobName">Job Name</label>
      </div>
      <div class="input-field col s6">
        <input ng-model="positions" id="positions" type="number">
        <label for="positions">Number of Openings</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <textarea id="description" ng-model="description" class="materialize-textarea"></textarea>
        <label for="description">Job Description</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input id="email" type="email" ng-model="contactEmail" class="validate">
        <label for="email" data-error="Invalid" data-success="Valid" class="center-align">Contact Email</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input id="start" ng-model="startDate" name="date" type="text" onfocus="(this.type='date')" onfocusout="(this.type='text')">
        <label for="start">Start Date</label>
      </div>
      <div class="input-field col s6">
        <input id="end" ng-model="endDate" name="date" type="text" onfocus="(this.type='date')" onfocusout="(this.type='text')">
        <label for="end">End Date</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input ng-model="location" id="location" type="text">
        <label for="location">Location</label>
      </div>
      <div class="input-field col s6">
        <input id="deadline" ng-model="deadline" name="date" type="text" onfocus="(this.type='date')" onfocusout="(this.type='text')">
        <label for="deadline">Last Date for Application</label>
      </div>
    </div>
  </form>
  <div class="right-align">
    <div class="btn" ng-click="resetValues()">Reset</div>
    <div class="btn" ng-click="posting.createJob()">Create</div>
  </div>
</div>
