<nav>
  <div class="nav-wrapper container">
    <a href="#" class="brand-logo">SFIP</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a ng-click="logout()">Logout</a></li>
    </ul>
    <ul id="slide-out" class="side-nav fixed">
      <div class="sidenav-profile center-align">
        <img class="circle responsive-img" src="http://lorempixel.com/200/200">
        <!-- <h6 class="black-text">Ankit Muchhala</h6> -->
      </div>
      <li><a href="#!">Profile</a></li>
      <li><a href="#!">People</a></li>
      <li><a href="#!">Chat Rooms</a></li>
      <li><a href="#!">Jobs</a></li>
    </ul>
    <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
  </div>
</nav>
<br>

<div class="container">
  <h5 class="light">Profile</h5>
  <br>
  <div class="row valign-wrapper">
    <div class="col s2">
      <img src="http://lorempixel.com/200/200" alt="" class="circle responsive-img">
      <!-- notice the "circle" class -->
    </div>
    <div class="col s10">
      <h5>Ankit Muchhala</h5>
      <h6>Student</h6>
    </div>
  </div>
  <form class="col s12" style="padding: 0">
    <div class="row">
      <div class="input-field col s12">
        <input ng-model="chatName" id="chatName" type="text">
        <label for="chatName">Institute</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <textarea id="description" ng-model="description" class="materialize-textarea"></textarea>
        <label for="description">About</label>
      </div>
    </div>
    <div class="row" style="padding: 0 10.5px 0 10.5px">
      <h6 class="grey-text">Areas of Interest</h6>
      <ul class="collection">
        <li class="collection-item">Alvin
          <a href="#" class="secondary-content">Remove</a>
        </li>
      </ul>
      <div class="input-field col s12">
        <input ng-model="chatName" id="chatName" type="text">
        <label for="chatName">Add New</label>
      </div>
      <div class="btn right">Add</div>
    </div>
    <div class="row" style="padding: 0 10.5px 0 10.5px">
      <h6 class="grey-text">Publications</h6>
      <ul class="collection">
        <li class="collection-item">Alvin
          <a href="#" class="secondary-content">Remove</a>
        </li>
      </ul>
      <div class="input-field col s12">
        <input ng-model="chatName" id="chatName" type="text">
        <label for="chatName">Add New</label>
      </div>
      <div class="btn right">Add</div>
    </div>
  </form>

</div>
