<nav>
  <div class="nav-wrapper container">
    <a ng-click="goTo('home')" class="pointer brand-logo">SFIP</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a ng-click="logout()">Logout</a></li>
    </ul>
    <ul id="slide-out" class="side-nav fixed">
      <div class="sidenav-profile center-align">
        <img class="circle responsive-img" src="http://lorempixel.com/200/200">
        <!-- <h6 class="black-text">Ankit Muchhala</h6> -->
      </div>
      <li><a ng-click="goTo('profile')">Profile</a></li>
      <li><a ng-click="goTo('people')">People</a></li>
      <li><a ng-click="goTo('chatRooms')">Chat Rooms</a></li>
      <li><a ng-click="goTo('jobs')">Jobs</a></li>
      <li><a class="hide-on-large-only" ng-click="logout()">Logout</a></li>
    </ul>
    <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
  </div>
</nav>

<div class="preloader-wrapper active container center-div" ng-show="loading">
  <div class="spinner-layer spinner-red-only">
    <div class="circle-clipper left">
      <div class="circle"></div>
    </div>
    <div class="gap-patch">
      <div class="circle"></div>
    </div>
    <div class="circle-clipper right">
      <div class="circle"></div>
    </div>
  </div>
</div>

<div class="container" ng-hide="loading">
  <br>
  <h5 class="light">Profile</h5>
  <br>
  <div class="row valign-wrapper">
    <div class="col s2">
      <img src="http://lorempixel.com/200/200" alt="" class="circle responsive-img">
      <!-- notice the "circle" class -->
    </div>
    <div class="col s10">
      <h5>{{firstName}} {{lastName}}</h5>
      <h6>{{type}}</h6>
    </div>
  </div>
  <form class="col s12" style="padding: 0">
    <div class="row">
      <div class="input-field col s12">
        <input ng-model="institute" ng-blur="updateProfile('institute')" id="institute" type="text">
        <label class="active" for="institute">Institute</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <textarea id="about" ng-model="about" ng-blur="updateProfile('about')" class="materialize-textarea"></textarea>
        <label class="active" for="about">About</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input ng-model="location" ng-blur="updateProfile('location')" id="location" type="text">
        <label class="active" for="location">Location</label>
      </div>
      <div class="input-field col s6">
        <input ng-model="contact" ng-blur="updateProfile('contact')" id="contact" type="text">
        <label class="active" for="contact">Contact</label>
      </div>
    </div>
    <div class="row" style="padding: 0 10.5px 0 10.5px">
      <h6 class="grey-text">Areas of Interest</h6>
      <ul class="collection">
        <li ng-repeat="(key, item) in interests" class="collection-item">{{item.interest}}
          <a class="secondary-content pointer" ng-click="removeItem(key, 'interests')">Remove</a>
        </li>
      </ul>
      <div class="input-field col s12">
        <input ng-model="interest" id="interest" type="text">
        <label for="interest">Add Interest</label>
      </div>
      <div class="btn right" ng-click="updateProfile('interest')">Add</div>
    </div>
    <div class="row" style="padding: 0 10.5px 0 10.5px">
      <h6 class="grey-text">Publications</h6>
      <ul class="collection">
        <li ng-repeat="(key, item) in publications" class="collection-item">{{item.publication}}
          <a class="pointer secondary-content" ng-click="removeItem(key, 'publications')">Remove</a>
        </li>
      </ul>
      <div class="input-field col s12">
        <input ng-model="publication" id="publication" type="text">
        <label for="publication">Add Publication</label>
      </div>
      <div class="btn right" ng-click="updateProfile('publication')">Add</div>
    </div>
    <div class="row" style="padding: 0 10.5px 0 10.5px">
      <h6 class="grey-text">Projects</h6>
      <br>
      <ul class="collapsible" data-collapsible="accordion">
      <li ng-repeat="(key, item) in projects ">
        <div class="collapsible-header">{{item.projectName}}
        <a class="pointer secondary-content" ng-click="removeItem(key, 'projects')">Remove</a>
        </div>
        <div class="collapsible-body">
          <p>{{item.projectDescription}}</p>
        <div class="right-align" style="padding:0 16px 16px 16px">
        </div>
        </div>
        </li>
      </ul>
    </div>

    <div class="input-field col s12">
        <input ng-model="projectName" id="projectName" type="text">
        <label for="projectName">Project Name</label>
    </div>
    <div class="input-field col s12">
      <input ng-model="projectDescription" id="projectDescription" type="text">
      <label for="projectDescription">Project Description</label>
   </div>
   <div class="btn right" ng-click="updateProfile('project')">Add</div>
  </div>
  </form>

</div>
