<div class="container">
  <div class="card-panel" style="max-width: 400px; height:520px;  position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;">
    <form>
      <div class="row margin">
        <div class="input-field col s12">
          <input class="validate" ng-model="email" id="email" type="email">
          <label for="email" data-error="Invalid" data-success="right" class="center-align">Email</label>
        </div>
      </div>
      <div class="row margin">
        <div class="input-field col s12">
          <input ng-model="firstName" id="firstName" type="text" required>
          <label class="center-align">First Name</label>
        </div>
      </div>
      <div class="row margin">
        <div class="input-field col s12">
          <input ng-model="lastName" id="lastName" type="text" required>
          <label class="center-align">Last Name</label>
        </div>
      </div>
      <div class="row margin">
        <div class="input-field col s12">
          <input ng-model="institute" id="institute" type="text" required>
          <label class="center-align">Institute Name</label>
        </div>
      </div>
      <div class="row margin">
        <div class="col s12 center-align">
          <input name="group1" ng-model="userType" type="radio" id="test1" class="with-gap" value="student"/>
          <label for="test1">Student</label>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <input name="group1" ng-model="userType" type="radio" id="test2" class="with-gap" value="professor"/>
          <label for="test2">Professor</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12" ng-click="register.signup()">
          <a class="btn waves-effect waves-light col s12 red ">Register</a>
        </div>
      </div>
    </form>
  </div>
</div>
