<!-- TODO:
  1. Validate using Angular and Disable login button accordingly
 -->

<div class="container">
  <div class="card-panel" style="max-width: 400px; height:370px;  position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;">
    <form>
      <div class="row margin">
        <div class="input-field col s12">
          <input id="oldPassword" ng-model="oldPassword" type="password">
          <label for="oldPassword">Old Password</label>
        </div>
      </div>
      <div class="row margin">
        <div class="input-field col s12">
          <input id="newPassword" ng-model="newPassword" type="password">
          <label for="newPassword">New Password</label>
        </div>
      </div>
      <div class="row margin">
        <div class="input-field col s12">
          <input id="confirmNew" ng-model="confirmNew" type="password">
          <label for="confirmNew">Confirm New Password</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12" ng-click="changePass()">
          <a class="btn waves-effect waves-light col s12 red">Change Password</a>
        </div>
      </div>
    </form>
  </div>
</div>
