<nav>
  <div class="nav-wrapper container">
    <a href="#" class="brand-logo">SFIP</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a ng-click="student.logout()">Logout</a></li>
    </ul>
    <ul id="slide-out" class="side-nav fixed">
      <div class="sidenav-profile center-align">
        <img class="circle responsive-img" src="http://lorempixel.com/200/200">
        <!-- <h6 class="black-text">Ankit Muchhala</h6> -->
      </div>
      <li><a ng-click="goTo('profile')">Profile</a></li>
      <li><a ng-click="goTo('people')">People</a></li>
      <li><a ng-click="goTo('chatRooms')">Chat Rooms</a></li>
      <li><a ng-click="goTo('jobs')">Jobs</a></li>
    </ul>
    <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
  </div>
</nav>

<div class="preloader-wrapper active container center-div" ng-show="loading">
  <div class="spinner-layer spinner-red-only">
    <div class="circle-clipper left">
      <div class="circle"></div>
    </div>
    <div class="gap-patch">
      <div class="circle"></div>
    </div>
    <div class="circle-clipper right">
      <div class="circle"></div>
    </div>
  </div>
</div>

<div class="container" ng-hide="loading">
  <br>
   <div class="input-field col s6">
   <input ng-model="searchText" type="text">
   <label for="searchText">Search by Name, Description, Location, Job Poster</label>
  </div>
  <br>
  <h5 class="light">Job Postings</h5>
  <ul class="collapsible" data-collapsible="accordion">
    <li ng-repeat="(key, job) in jobs | customJobList:searchText">
      <div class="collapsible-header">{{job.jobName}}</div>
      <div class="collapsible-body">
        <p>{{job.description}}</p>
        <div class="right-align" style="padding:0 16px 16px 16px">
          <a class="btn" ng-click="student.applyForJob(key)">Apply</a>
        </div>
      </div>
    </li>
  </ul>

  <br>
  <div class="input-field col s6">
   <input ng-model="searchChatRoom" type="text">
   <label for="searchChatRoom">Search by Name, Description, Day, Start time(24 hr.)</label>
  </div>
  <br>
  <h5 class="light">Chat Rooms</h5>
  <ul class="collapsible" data-collapsible="accordion">
    <li ng-repeat="(key, chatRoom) in chatRooms | customChatRooms:searchChatRoom">
      <div class="collapsible-header">{{chatRoom.chatRoomName}}</div>
      <div class="collapsible-body">
        <p>{{chatRoom.description}}</p>
        <div class="right-align" style="padding:0 16px 16px 16px">
          <a class="btn" ng-click="student.joinChatRoom(key)">Join</a>
        </div>
      </div>
    </li>
  </ul>

  <br>
  <h5 class="light">Your Job Applications</h5>
  <ul class="collection">
    <a ng-repeat="(appId,app) in applications" class="collection-item pointer" ng-click="posting.viewJob(jobId)">
      {{app.jobId}}
      <!-- Add confirmation dialog -->
      <div class="secondary-content grey-text pointer" ng-click="posting.deleteJob(jobId); $event.stopPropagation()">{{app.status ? app.status : 'Pending'}}</div>
    </a>
  </ul>
  </ul>
</div>
