<nav>
  <div class="nav-wrapper container">
    <a ng-click="goTo('home')" class="pointer brand-logo">SFIP</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a ng-click="student.logout()">Logout</a></li>
    </ul>
    <ul id="slide-out" class="side-nav fixed">
      <div class="sidenav-profile center-align">
        <img class="circle responsive-img" src="http://lorempixel.com/200/200">
        <!-- <h6 class="black-text">Ankit Muchhala</h6> -->
      </div>
      <li><a ng-click="goTo('profile')">Profile</a></li>
      <li><a ng-click="goTo('people')">People</a></li>
      <li><a ng-click="goTo('chatRooms')">Chat Rooms</a></li>
      <li><a ng-click="goTo('jobs')">Jobs</a></li>
      <li><a class="hide-on-large-only" ng-click="logout">Logout</a></li>
    </ul>
    <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
  </div>
</nav>

<div class="preloader-wrapper active container center-div" ng-show="loading">
  <div class="spinner-layer spinner-red-only">
    <div class="circle-clipper left">
      <div class="circle"></div>
    </div>
    <div class="gap-patch">
      <div class="circle"></div>
    </div>
    <div class="circle-clipper right">
      <div class="circle"></div>
    </div>
  </div>
</div>

<div class="container" ng-hide="loading">
  <br>
  <h5 class="light">Job Postings</h5>
  <ul class="collapsible" data-collapsible="accordion">
    <li ng-repeat="(key, job) in jobs">
      <div class="collapsible-header">{{job.jobName}}</div>
      <div class="collapsible-body">
        <p>{{job.description}}</p>
        <div class="right-align" style="padding:0 16px 16px 16px">
          <a class="btn" ng-click="student.applyForJob(key, job.jobName)">Apply</a>
        </div>
      </div>
    </li>
  </ul>

  <br>
  <h5 class="light">Chat Rooms</h5>
  <ul class="collapsible" data-collapsible="accordion">
    <li ng-repeat="(key, chatRoom) in chatRooms">
      <div class="collapsible-header">{{chatRoom.chatRoomName}}</div>
      <div class="collapsible-body">
        <p>{{chatRoom.description}}</p>
        <div class="right-align" style="padding:0 16px 16px 16px">
          <a class="btn" ng-click="student.openChatRoom(key, chatRoom)">Join</a>
        </div>
      </div>
    </li>
  </ul>

  <br>
  <h5 class="light">Your Job Applications</h5>
  <ul class="collection">
    <div ng-repeat="(appId,app) in applications" class="collection-item black-text" ng-click="">
      {{app.jobName}}
      <div class="secondary-content grey-text pointer" ng-click="posting.deleteJob(jobId); $event.stopPropagation()">{{app.status ? app.status : 'pending'}}</div>
    </div>
  </ul>
  </ul>
</div>
