<nav>
  <div class="nav-wrapper container">
    <a ng-click="goTo('home')" class="pointer brand-logo">SFIP</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a ng-click="logout()">Logout</a></li>
    </ul>
    <ul id="slide-out" class="side-nav fixed">
      <div class="sidenav-profile center-align">
        <img class="circle responsive-img" src="http://lorempixel.com/200/200">
        <!-- <h6 class="black-text">Ankit Muchhala</h6> -->
      </div>
      <li><a ng-click="goTo('profile')">Profile</a></li>
      <li><a ng-click="goTo('people')">People</a></li>
      <li><a ng-click="goTo('chatRooms')">Chat Rooms</a></li>
      <li><a ng-click="goTo('jobs')">Jobs</a></li>
      <li><a class="hide-on-large-only" ng-click="logout()">Logout</a></li>
    </ul>
    <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
  </div>
</nav>

<br>

<div class="preloader-wrapper active container center-div" ng-show="loading">
  <div class="spinner-layer spinner-red-only">
    <div class="circle-clipper left">
      <div class="circle"></div>
    </div>
    <div class="gap-patch">
      <div class="circle"></div>
    </div>
    <div class="circle-clipper right">
      <div class="circle"></div>
    </div>
  </div>
</div>

<div class="container" ng-hide="loading">
  <h5 class="light">Applications</h5>
  <ul class="collapsible" data-collapsible="accordion">
    <li ng-repeat="(key, application) in applications" ng-show="!application.status">
      <div class="collapsible-header">{{application.contactEmail}}
        <div class="secondary-content">
          <a class="green-text" ng-click="acceptApplication(key); $event.stopPropagation()">Accept</a> &nbsp;&nbsp;&nbsp;
          <a class="red-text" ng-click="rejectApplication(key); $event.stopPropagation()">Reject</a>
        </div>
      </div>
      <div class="collapsible-body">
        <p>{{application.letter}}</p>
        <p style="padding-top:0"><a href="">Attachment</a></p>
        <p style="padding-top:0"><a href="" ng-click="viewApplicantProfile(application.appliedBy); $event.stopPropagation()">View profile</a></p>

      </div>
    </li>
  </ul>

  <br>
  <h5 class="light">Accepted</h5>
  <ul class="collapsible" data-collapsible="accordion">
    <li ng-repeat="(key, application) in applications" ng-show="application.status === 'accept'">
      <div class="collapsible-header">{{application.contactEmail}}</div>
      <div class="collapsible-body">
        <p>{{application.letter}}</p>
        <p style="padding-top:0"><a href="">Attachment</a></p>
        <p style="padding-top:0"><a href="" ng-click="viewApplicantProfile(application.appliedBy); $event.stopPropagation()">View profile</a></p>
      </div>
    </li>
  </ul>

  <br>
  <h5 class="light">Rejected</h5>
  <ul class="collapsible" data-collapsible="accordion">
    <li ng-repeat="(key, application) in applications" ng-show="application.status === 'reject'">
      <div class="collapsible-header">{{application.appliedBy}}</div>
      <div class="collapsible-body">
        <p>{{application.letter}}</p>
        <p style="padding-top:0"><a href="">Attachment</a></p>
        <p style="padding-top:0"><a href="" ng-click="viewApplicantProfile(application.appliedBy); $event.stopPropagation()">View profile</a></p>
      </div>
    </li>
  </ul>

</div>
