<nav>
  <div class="nav-wrapper container">
    <a ng-click="goTo('home')" class="pointer brand-logo">SFIP</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a ng-click="logout()">Logout</a></li>
    </ul>
    <ul id="slide-out" class="side-nav fixed">
      <div class="sidenav-profile center-align">
        <img class="circle responsive-img" src="http://lorempixel.com/200/200">
        <!-- <h6 class="black-text">Ankit Muchhala</h6> -->
      </div>
      <li><a ng-click="goTo('profile')">Profile</a></li>
      <li><a ng-click="goTo('people')">People</a></li>
      <li><a ng-click="goTo('chatRooms')">Chat Rooms</a></li>
      <li><a ng-click="goTo('jobs')">Jobs</a></li>
      <li><a class="hide-on-large-only" ng-click="logout()">Logout</a></li>
    </ul>
    <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
  </div>
</nav>

<!-- <div class="preloader-wrapper active container center-div" ng-show="loading">
  <div class="spinner-layer spinner-red-only">
    <div class="circle-clipper left">
      <div class="circle"></div>
    </div>
    <div class="gap-patch">
      <div class="circle"></div>
    </div>
    <div class="circle-clipper right">
      <div class="circle"></div>
    </div>
  </div>
</div> -->

<div class="container">
  <br>
  <h5 class="light">Profile</h5>
  <br>
  <div class="row valign-wrapper">
    <div class="col s2">
      <img src="http://lorempixel.com/200/200" alt="" class="circle responsive-img">
      <!-- notice the "circle" class -->
    </div>
    <div class="col s10">
      <h5>{{firstName}} {{lastName}}</h5>
      <h6>{{type}}</h6>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <div class="card">
        <div class="card-content black-text">
          <span class="card-title">About</span>
          <p class="grey-text" style="margin-bottom: 8px"><b>Institute:</b> {{institute}}</p>
          <p>{{about}}</p>
        </div>
      </div>
    </div>
  </div>
  <h6 class="grey-text">Areas of Interest</h6>
  <ul class="collection">
    <li ng-repeat="item in interests" class="collection-item">{{item.interest}}
    </li>
  </ul>
  <br>
  <h6 class="grey-text">Publications</h6>
  <ul class="collection">
    <li ng-repeat="item in publications" class="collection-item">{{item.publication}}
    </li>
  </ul>
</div>
